includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		# From PHPStan 0.12, paths to check are relative to the neon file
		- ../../controllers
		- ../../src
		- ../../translations
		- ../../upgrade
		- ../../views
		- ../../miguel.php
		- ../../order-state-callback.php
		- ../../orders.php
		- ../../products.php
	reportUnmatchedIgnoredErrors: false

	level: 5
