<phpunit stopOnFailure="true"
         backupGlobals="false"
         bootstrap="bootstrap.php"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
  <php>
    <server name="KERNEL_CLASS" value="AppKernel" />
  </php>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">.</directory>
    </testsuite>
  </testsuites>
</phpunit>
